table,th,td{
    border: 1px solid black;
    border-collapse: collapse; 
    
}

tr:nth-child(even){
    background-color: blueviolet;
}

tr:nth-child(odd){
    background-color: yellowgreen;
}

tr:nth-child(5){
    background-color: aqua;
}


